In [24]:
import numpy as np
import pandas as pd
import os

In [25]:
import matplotlib.pylab as plt

In [26]:
BASE_DIR = 'big-data-derby-2022'

nyra_2019_complete = pd.read_csv(f"{BASE_DIR}/nyra_2019_complete.csv", low_memory=False, 
                                 names = ['track_id','race_date','race_number','program_number','trakus_index', \
                                           'latitude','longitude','distance_id','course_type','track_condition', \
                                           'run_up_distance','race_type', 'purse','post_time','weight_carried','jockey','odds', \
                                            'position_at_finish'])
nyra_race_table = pd.read_csv(f"{BASE_DIR}/nyra_race_table.csv")
nyra_start_table = pd.read_csv(f"{BASE_DIR}/nyra_start_table.csv", 
                              names = ['track_id','race_date','race_number','program_number','weight_carried','jockey',\
                                           'odds','position_at_finish'])
nyra_tracking_table = pd.read_csv(f"{BASE_DIR}/nyra_tracking_table.csv")

In [27]:
nyra_start_table1 = pd.read_csv(f"{BASE_DIR}/nyra_start_table.csv", 
                              names = ['track_id','race_date','race_number','program_number','weight_carried','jockey',\
                                           'odds','position_at_finish'])

In [28]:
display(nyra_2019_complete.head())
display(nyra_race_table.head())
display(nyra_start_table.head())
display(nyra_tracking_table.head())

,track_id,race_date,race_number,program_number,trakus_index,latitude,longitude,distance_id,course_type,track_condition,run_up_distance,race_type,purse,post_time,weight_carried,jockey,odds,position_at_finish
0,AQU,2019-01-01,9,6,72,40.672902,-73.827607,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
1,AQU,2019-01-01,9,6,73,40.672946,-73.827587,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
2,AQU,2019-01-01,9,6,74,40.672990,-73.827568,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
3,AQU,2019-01-01,9,6,63,40.672510,-73.827781,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
4,AQU,2019-01-01,9,6,64,40.672553,-73.827762,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8

,track_id,race_date,race_number,distance_id,course_type,track_condition,run_up_distance,race_type,purse,post_time
0,AQU,2019-01-01,1,650,D,MY,36,AOC,80000,1220
1,AQU,2019-01-01,2,600,D,MY,48,MCL,41000,1250
2,AQU,2019-01-01,3,550,D,MY,54,MCL,35000,121
3,AQU,2019-01-01,4,900,D,MY,101,AOC,80000,150
4,AQU,2019-01-01,5,700,D,MY,60,ALW,64000,220

,track_id,race_date,race_number,program_number,weight_carried,jockey,odds,position_at_finish
0,AQU,2019-01-01,1,1,123,Dylan Davis,130,2
1,AQU,2019-01-01,1,2,120,Junior Alvarado,295,3
2,AQU,2019-01-01,1,3,118,Jose Lezcano,180,4
3,AQU,2019-01-01,1,4,123,Jomar Garcia,1280,5
4,AQU,2019-01-01,1,5,118,Manuel Franco,1150,1

,track_id,race_date,race_number,program_number,trakus_index,latitude,longitude
0,AQU,2019-01-01,9,6,72,40.672902,-73.827607
1,AQU,2019-01-01,9,6,73,40.672946,-73.827587
2,AQU,2019-01-01,9,6,74,40.672990,-73.827568
3,AQU,2019-01-01,9,6,63,40.672510,-73.827781
4,AQU,2019-01-01,9,6,64,40.672553,-73.827762

In [29]:
# use nyra_start_table

In [30]:
nyra_start_table[nyra_start_table['program_number'] == '3X ']

,track_id,race_date,race_number,program_number,weight_carried,jockey,odds,position_at_finish
6679,BEL,2019-05-09,7,3X,118,Irad Ortiz Jr.,230,5

In [31]:
nyra_start_table['race_date'] = pd.to_datetime(nyra_start_table['race_date'])
#nyra_start_table['race_date'] = nyra_start_table['race_date'].apply(lambda x: x.value)

In [32]:
nyra_start_table

,track_id,race_date,race_number,program_number,weight_carried,jockey,odds,position_at_finish
0,AQU,2019-01-01,1,1,123,Dylan Davis,130,2
1,AQU,2019-01-01,1,2,120,Junior Alvarado,295,3
2,AQU,2019-01-01,1,3,118,Jose Lezcano,180,4
3,AQU,2019-01-01,1,4,123,Jomar Garcia,1280,5
4,AQU,2019-01-01,1,5,118,Manuel Franco,1150,1
...,...,...,...,...,...,...,...,...
14910,SAR,2019-09-02,11,3,119,Manuel Franco,1470,2
14911,SAR,2019-09-02,11,4,119,Jose Lezcano,1070,5
14912,SAR,2019-09-02,11,6,119,Eric Cancel,1130,10
14913,SAR,2019-09-02,11,7,119,Irad Ortiz Jr.,460,7
14914,SAR,2019-09-02,11,8,119,Luis Saez,110,6

In [33]:
nyra_start_table['program_number'].value_counts()

4      1748
3      1743
5      1731
2      1715
1      1708
6      1652
7      1390
8      1066
9       761
10      535
11      333
12      201
1A      164
13       77
14       44
15       24
2B       11
16       10
3X        1
1X        1
Name: program_number, dtype: int64

In [34]:
nyra_start_table[nyra_start_table['program_number'] == '1A ']

,track_id,race_date,race_number,program_number,weight_carried,jockey,odds,position_at_finish
21,AQU,2019-01-01,4,1A,124,Luis R. Reyes,200,4
100,AQU,2019-01-04,7,1A,119,Andre Shivnarine Worrie,2050,4
131,AQU,2019-01-05,4,1A,121,Dylan Davis,540,1
228,AQU,2019-01-10,1,1A,125,Jorge M. Perez,940,3
306,AQU,2019-01-11,8,1A,113,Heman K. Harkie,5000,11
...,...,...,...,...,...,...,...,...
14226,SAR,2019-08-24,1,1A,126,Jose Lezcano,65,4
14341,SAR,2019-08-25,1,1A,119,Manuel Franco,920,6
14789,SAR,2019-09-01,6,1A,121,Luis Saez,440,7
14881,SAR,2019-09-02,7,1A,117,Luis Saez,1860,6
14908,SAR,2019-09-02,11,1A,119,Luis R. Reyes,2210,4

In [35]:
# removing 1A, 2B, 3X and 1X race.

In [36]:
one_a_list = nyra_start_table[nyra_start_table['program_number'] == '1A '].index

In [37]:
one_a_list

Int64Index([   21,   100,   131,   228,   306,   379,   455,   471,   519,
              568,
            ...
            13777, 13957, 14049, 14078, 14098, 14226, 14341, 14789, 14881,
            14908],
           dtype='int64', length=164)

In [38]:
one_a_track_id = nyra_start_table['track_id'][21]
one_a_race_date = nyra_start_table['race_date'][21]
one_a_race_number = nyra_start_table['race_number'][21]
print(one_a_track_id, one_a_race_date, one_a_race_number)

nyra_start_table[(nyra_start_table.track_id == one_a_track_id) \
                                                              & (nyra_start_table.race_date == one_a_race_date) \
                                                              & (nyra_start_table.race_number == one_a_race_number)].index

AQU 2019-01-01 00:00:00 4

Int64Index([20, 21, 22, 23, 24, 25], dtype='int64')

In [39]:
for i in one_a_list:
    one_a_track_id = nyra_start_table['track_id'][i]
    one_a_race_date = nyra_start_table['race_date'][i]
    one_a_race_number = nyra_start_table['race_number'][i]
    #print(one_a_track_id, one_a_race_date, one_a_race_number)
    nyra_start_table = nyra_start_table.drop(nyra_start_table[(nyra_start_table.track_id == one_a_track_id) \
                                                              & (nyra_start_table.race_date == one_a_race_date) \
                                                              & (nyra_start_table.race_number == one_a_race_number)].index)

In [41]:
two_b_list = nyra_start_table[nyra_start_table['program_number'] == '2B '].index

In [42]:
for i in two_b_list:
    two_b_track_id = nyra_start_table['track_id'][i]
    two_b_race_date = nyra_start_table['race_date'][i]
    two_b_race_number = nyra_start_table['race_number'][i]
    #print(one_a_track_id, one_a_race_date, one_a_race_number)
    nyra_start_table = nyra_start_table.drop(nyra_start_table[(nyra_start_table.track_id == two_b_track_id) \
                                                              & (nyra_start_table.race_date == two_b_race_date) \
                                                              & (nyra_start_table.race_number == two_b_race_number)].index)

In [43]:
nyra_start_table['program_number'].value_counts()

4      1608
3      1593
1      1588
5      1585
2      1577
6      1519
7      1291
8       988
9       705
10      494
11      309
12      191
13       72
14       41
15       21
16       10
Name: program_number, dtype: int64

In [44]:
nyra_start_table['program_number'] = nyra_start_table['program_number'].astype(int)

In [46]:
race_table = nyra_start_table.reset_index(drop=True)

In [333]:
#race_table = nyra_start_table.set_index('race_date')

In [47]:
race_table.head(40)

,track_id,race_date,race_number,program_number,weight_carried,jockey,odds,position_at_finish
0,AQU,2019-01-01,1,1,123,Dylan Davis,130,2
1,AQU,2019-01-01,1,2,120,Junior Alvarado,295,3
2,AQU,2019-01-01,1,3,118,Jose Lezcano,180,4
3,AQU,2019-01-01,1,4,123,Jomar Garcia,1280,5
4,AQU,2019-01-01,1,5,118,Manuel Franco,1150,1
5,AQU,2019-01-01,2,1,121,Jose Lezcano,220,2
6,AQU,2019-01-01,2,2,114,Benjamin Hernandez,940,7
7,AQU,2019-01-01,2,3,121,Dylan Davis,165,4
8,AQU,2019-01-01,2,4,123,Jomar Garcia,1760,5
9,AQU,2019-01-01,2,5,121,Andre Shivnarine Worrie,800,3
10,AQU,2019-01-01,2,6,116,Reylu Gutierrez,340,1
11,AQU,2019-01-01,2,7,121,Eric Cancel,3975,6
12,AQU,2019-01-01,3,1,120,Junior Alvarado,75,2
13,AQU,2019-01-01,3,2,120,Eric Cancel,5850,8
14,AQU,2019-01-01,3,3,113,Benjamin Hernandez,315,1
15,AQU,2019-01-01,3,4,120,Manuel Franco,980,3
16,AQU,2019-01-01,3,5,120,Jose Lezcano,1060,7
17,AQU,2019-01-01,3,6,115,Reylu Gutierrez,790,5
18,AQU,2019-01-01,3,7,120,Rajiv Maragh,2550,4
19,AQU,2019-01-01,3,8,120,Andre Shivnarine Worrie,2550,6
20,AQU,2019-01-01,5,1,118,Reylu Gutierrez,100,3
21,AQU,2019-01-01,5,2,121,Jose Lezcano,5800,6
22,AQU,2019-01-01,5,3,121,Dylan Davis,1080,7
23,AQU,2019-01-01,5,5,123,Andre Shivnarine Worrie,1010,4
24,AQU,2019-01-01,5,6,123,Rajiv Maragh,305,1
25,AQU,2019-01-01,5,7,123,Junior Alvarado,380,5
26,AQU,2019-01-01,5,8,121,Manuel Franco,1670,2
27,AQU,2019-01-01,6,10,120,Eric Cancel,780,4
28,AQU,2019-01-01,6,2,120,Junior Alvarado,640,3
29,AQU,2019-01-01,6,5,120,Jose Lezcano,560,7
30,AQU,2019-01-01,6,6,115,Reylu Gutierrez,105,1
31,AQU,2019-01-01,6,7,120,Andre Shivnarine Worrie,590,2
32,AQU,2019-01-01,6,8,120,Rajiv Maragh,1590,6
33,AQU,2019-01-01,6,9,120,Manuel Franco,850,5
34,AQU,2019-01-01,7,1,121,Rajiv Maragh,950,3
35,AQU,2019-01-01,7,2,123,Frankie Pennington,590,2
36,AQU,2019-01-01,7,3,121,Luis R. Reyes,270,4
37,AQU,2019-01-01,7,5,116,Reylu Gutierrez,710,7
38,AQU,2019-01-01,7,6,119,Manuel Franco,360,5
39,AQU,2019-01-01,7,7,119,Dylan Davis,1990,6

In [48]:
clip_rank = lambda x: x if x < 4 else 4

race_table['finish_pos']  = race_table['position_at_finish'].map(clip_rank)

In [49]:
race_table['finish_pos'].value_counts()

4    8093
2    1834
1    1834
3    1831
Name: finish_pos, dtype: int64

In [50]:
race_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13592 entries, 0 to 13591
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   track_id            13592 non-null  object
 1   race_date           13592 non-null  datetime64[ns]
 2   race_number         13592 non-null  int64
 3   program_number      13592 non-null  int32
 4   weight_carried      13592 non-null  int64
 5   jockey              13592 non-null  object
 6   odds                13592 non-null  int64
 7   position_at_finish  13592 non-null  int64
 8   finish_pos          13592 non-null  int64
dtypes: datetime64[ns](1), int32(1), int64(5), object(2)
memory usage: 902.7+ KB

In [51]:
race_table['jockey'].value_counts()

Manuel Franco                 1161
Dylan Davis                   1018
Jose Lezcano                   893
Junior Alvarado                786
Irad Ortiz Jr.                 726
                              ...
Winston R. Kay                   1
Angel Cruz                       1
Charles C. Lopez                 1
Christian Santiago Reyes         1
Brian Joseph Hernandez Jr.       1
Name: jockey, Length: 176, dtype: int64

In [52]:
race_table.drop(['position_at_finish'], axis=1, inplace=True)

In [339]:
#race_table_d = pd.get_dummies(race_table)

In [403]:
len(race_table_d['race_date'].unique())

217

In [404]:
race_table_d['race_date'].unique()

array(['2019-01-01T00:00:00.000000000', '2019-01-04T00:00:00.000000000',
       '2019-01-05T00:00:00.000000000', '2019-01-06T00:00:00.000000000',
       '2019-01-10T00:00:00.000000000', '2019-01-11T00:00:00.000000000',
       '2019-01-12T00:00:00.000000000', '2019-01-13T00:00:00.000000000',
       '2019-01-18T00:00:00.000000000', '2019-01-19T00:00:00.000000000',
       '2019-01-20T00:00:00.000000000', '2019-01-25T00:00:00.000000000',
       '2019-01-26T00:00:00.000000000', '2019-01-27T00:00:00.000000000',
       '2019-02-01T00:00:00.000000000', '2019-02-02T00:00:00.000000000',
       '2019-02-03T00:00:00.000000000', '2019-02-07T00:00:00.000000000',
       '2019-02-08T00:00:00.000000000', '2019-02-09T00:00:00.000000000',
       '2019-02-10T00:00:00.000000000', '2019-02-15T00:00:00.000000000',
       '2019-02-16T00:00:00.000000000', '2019-02-17T00:00:00.000000000',
       '2019-02-18T00:00:00.000000000', '2019-02-21T00:00:00.000000000',
       '2019-02-22T00:00:00.000000000', '2019-02-23T00:00:00.000000000',
       '2019-02-24T00:00:00.000000000', '2019-02-28T00:00:00.000000000',
       '2019-03-01T00:00:00.000000000', '2019-03-02T00:00:00.000000000',
       '2019-03-03T00:00:00.000000000', '2019-03-08T00:00:00.000000000',
       '2019-03-09T00:00:00.000000000', '2019-03-10T00:00:00.000000000',
       '2019-03-15T00:00:00.000000000', '2019-03-16T00:00:00.000000000',
       '2019-03-17T00:00:00.000000000', '2019-03-22T00:00:00.000000000',
       '2019-03-23T00:00:00.000000000', '2019-03-24T00:00:00.000000000',
       '2019-03-29T00:00:00.000000000', '2019-03-30T00:00:00.000000000',
       '2019-03-31T00:00:00.000000000', '2019-04-05T00:00:00.000000000',
       '2019-04-06T00:00:00.000000000', '2019-04-07T00:00:00.000000000',
       '2019-04-10T00:00:00.000000000', '2019-04-11T00:00:00.000000000',
       '2019-04-12T00:00:00.000000000', '2019-04-13T00:00:00.000000000',
       '2019-04-14T00:00:00.000000000', '2019-04-17T00:00:00.000000000',
       '2019-04-18T00:00:00.000000000', '2019-04-19T00:00:00.000000000',
       '2019-04-20T00:00:00.000000000', '2019-11-01T00:00:00.000000000',
       '2019-11-02T00:00:00.000000000', '2019-11-03T00:00:00.000000000',
       '2019-11-07T00:00:00.000000000', '2019-11-08T00:00:00.000000000',
       '2019-11-09T00:00:00.000000000', '2019-11-10T00:00:00.000000000',
       '2019-11-11T00:00:00.000000000', '2019-11-14T00:00:00.000000000',
       '2019-11-15T00:00:00.000000000', '2019-11-16T00:00:00.000000000',
       '2019-11-17T00:00:00.000000000', '2019-11-20T00:00:00.000000000',
       '2019-11-21T00:00:00.000000000', '2019-11-22T00:00:00.000000000',
       '2019-11-23T00:00:00.000000000', '2019-11-24T00:00:00.000000000',
       '2019-11-27T00:00:00.000000000', '2019-11-29T00:00:00.000000000',
       '2019-11-30T00:00:00.000000000', '2019-12-01T00:00:00.000000000',
       '2019-12-05T00:00:00.000000000', '2019-12-06T00:00:00.000000000',
       '2019-12-07T00:00:00.000000000', '2019-12-08T00:00:00.000000000',
       '2019-12-12T00:00:00.000000000', '2019-12-13T00:00:00.000000000',
       '2019-12-14T00:00:00.000000000', '2019-12-15T00:00:00.000000000',
       '2019-12-20T00:00:00.000000000', '2019-12-21T00:00:00.000000000',
       '2019-12-22T00:00:00.000000000', '2019-12-28T00:00:00.000000000',
       '2019-12-29T00:00:00.000000000', '2019-12-30T00:00:00.000000000',
       '2019-12-31T00:00:00.000000000', '2019-04-26T00:00:00.000000000',
       '2019-04-27T00:00:00.000000000', '2019-04-28T00:00:00.000000000',
       '2019-05-02T00:00:00.000000000', '2019-05-03T00:00:00.000000000',
       '2019-05-04T00:00:00.000000000', '2019-05-05T00:00:00.000000000',
       '2019-05-09T00:00:00.000000000', '2019-05-10T00:00:00.000000000',
       '2019-05-11T00:00:00.000000000', '2019-05-12T00:00:00.000000000',
       '2019-05-16T00:00:00.000000000', '2019-05-17T00:00:00.000000000',
       '2019-05-18T00:00:00.000000000', '2019-05-19T00:00:00.000000000',
       '2019-05-23T00:00:00.000000000', '2019-05-24T00:00:00.000000000',
       '2019-05-25T00:00:00.000000000', '2019-05-26T00:00:00.000000000',
       '2019-05-27T00:00:00.000000000', '2019-05-30T00:00:00.000000000',
       '2019-05-31T00:00:00.000000000', '2019-06-01T00:00:00.000000000',
       '2019-06-02T00:00:00.000000000', '2019-06-06T00:00:00.000000000',
       '2019-06-07T00:00:00.000000000', '2019-06-08T00:00:00.000000000',
       '2019-06-09T00:00:00.000000000', '2019-06-12T00:00:00.000000000',
       '2019-06-13T00:00:00.000000000', '2019-06-14T00:00:00.000000000',
       '2019-06-15T00:00:00.000000000', '2019-06-16T00:00:00.000000000',
       '2019-06-19T00:00:00.000000000', '2019-06-20T00:00:00.000000000',
       '2019-06-21T00:00:00.000000000', '2019-06-22T00:00:00.000000000',
       '2019-06-23T00:00:00.000000000', '2019-06-26T00:00:00.000000000',
       '2019-06-27T00:00:00.000000000', '2019-06-28T00:00:00.000000000',
       '2019-06-29T00:00:00.000000000', '2019-06-30T00:00:00.000000000',
       '2019-07-03T00:00:00.000000000', '2019-07-04T00:00:00.000000000',
       '2019-07-05T00:00:00.000000000', '2019-07-06T00:00:00.000000000',
       '2019-07-07T00:00:00.000000000', '2019-09-06T00:00:00.000000000',
       '2019-09-07T00:00:00.000000000', '2019-09-08T00:00:00.000000000',
       '2019-09-11T00:00:00.000000000', '2019-09-12T00:00:00.000000000',
       '2019-09-13T00:00:00.000000000', '2019-09-14T00:00:00.000000000',
       '2019-09-15T00:00:00.000000000', '2019-09-18T00:00:00.000000000',
       '2019-09-19T00:00:00.000000000', '2019-09-20T00:00:00.000000000',
       '2019-09-21T00:00:00.000000000', '2019-09-22T00:00:00.000000000',
       '2019-09-25T00:00:00.000000000', '2019-09-26T00:00:00.000000000',
       '2019-09-27T00:00:00.000000000', '2019-09-28T00:00:00.000000000',
       '2019-09-29T00:00:00.000000000', '2019-10-02T00:00:00.000000000',
       '2019-10-03T00:00:00.000000000', '2019-10-04T00:00:00.000000000',
       '2019-10-05T00:00:00.000000000', '2019-10-06T00:00:00.000000000',
       '2019-10-10T00:00:00.000000000', '2019-10-11T00:00:00.000000000',
       '2019-10-12T00:00:00.000000000', '2019-10-13T00:00:00.000000000',
       '2019-10-14T00:00:00.000000000', '2019-10-16T00:00:00.000000000',
       '2019-10-18T00:00:00.000000000', '2019-10-19T00:00:00.000000000',
       '2019-10-20T00:00:00.000000000', '2019-10-23T00:00:00.000000000',
       '2019-10-24T00:00:00.000000000', '2019-10-25T00:00:00.000000000',
       '2019-10-26T00:00:00.000000000', '2019-10-27T00:00:00.000000000',
       '2019-07-11T00:00:00.000000000', '2019-07-12T00:00:00.000000000',
       '2019-07-13T00:00:00.000000000', '2019-07-14T00:00:00.000000000',
       '2019-07-17T00:00:00.000000000', '2019-07-18T00:00:00.000000000',
       '2019-07-19T00:00:00.000000000', '2019-07-21T00:00:00.000000000',
       '2019-07-24T00:00:00.000000000', '2019-07-25T00:00:00.000000000',
       '2019-07-26T00:00:00.000000000', '2019-07-27T00:00:00.000000000',
       '2019-07-28T00:00:00.000000000', '2019-07-31T00:00:00.000000000',
       '2019-08-01T00:00:00.000000000', '2019-08-02T00:00:00.000000000',
       '2019-08-03T00:00:00.000000000', '2019-08-04T00:00:00.000000000',
       '2019-08-07T00:00:00.000000000', '2019-08-08T00:00:00.000000000',
       '2019-08-09T00:00:00.000000000', '2019-08-10T00:00:00.000000000',
       '2019-08-11T00:00:00.000000000', '2019-08-14T00:00:00.000000000',
       '2019-08-15T00:00:00.000000000', '2019-08-16T00:00:00.000000000',
       '2019-08-17T00:00:00.000000000', '2019-08-18T00:00:00.000000000',
       '2019-08-21T00:00:00.000000000', '2019-08-22T00:00:00.000000000',
       '2019-08-23T00:00:00.000000000', '2019-08-24T00:00:00.000000000',
       '2019-08-25T00:00:00.000000000', '2019-08-28T00:00:00.000000000',
       '2019-08-29T00:00:00.000000000', '2019-08-30T00:00:00.000000000',
       '2019-08-31T00:00:00.000000000', '2019-09-01T00:00:00.000000000',
       '2019-09-02T00:00:00.000000000'], dtype='datetime64[ns]')

In [418]:
race_table_d_2 = race_table_d.sort_values(by=['race_date', 'race_number', 'program_number'], ascending=True)
race_table_d_2

,race_date,race_number,program_number,weight_carried,odds,finish_pos,track_id_AQU,track_id_BEL,track_id_SAR,jockey_Abner Adorno,...,jockey_Tzeonn Chang,jockey_Victor Espinoza,jockey_Victor R. Carrasco,jockey_Vince Halliday,jockey_Virginia Tormey,jockey_Wayne Lordan,jockey_Weston Hamilton,jockey_William McCarthy,jockey_Wilmer A. Garcia,jockey_Winston R. Kay
0,2019-01-01,1,1,123,130,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2019-01-01,1,2,120,295,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2019-01-01,1,3,118,180,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2019-01-01,1,4,123,1280,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2019-01-01,1,5,118,1150,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5690,2019-12-31,8,7,122,6650,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5691,2019-12-31,8,8,122,1080,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5692,2019-12-31,8,9,124,8175,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5684,2019-12-31,8,10,117,4725,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5685,2019-12-31,8,11,122,90,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [426]:
print(len(race_table_d_2))
train_idx = round(len(race_table_d_2)*0.7)
print(train_idx)
print(race_table_d_2.loc[train_idx]['race_date'])

13592
9514
2019-09-27 00:00:00

In [432]:
temp_idx = (race_table_d_2[race_table_d_2['race_date'] == race_table_d_2.loc[train_idx]['race_date']].index.values)

In [433]:
temp_idx[-1]

9524

In [417]:
race_table_d_2

,race_date,race_number,program_number,weight_carried,odds,finish_pos,track_id_AQU,track_id_BEL,track_id_SAR,jockey_Abner Adorno,...,jockey_Tzeonn Chang,jockey_Victor Espinoza,jockey_Victor R. Carrasco,jockey_Vince Halliday,jockey_Virginia Tormey,jockey_Wayne Lordan,jockey_Weston Hamilton,jockey_William McCarthy,jockey_Wilmer A. Garcia,jockey_Winston R. Kay
0,2019-01-01,1,1,123,130,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,2019-01-01,6,6,115,105,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,2019-01-01,6,7,120,590,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,2019-01-01,6,8,120,1590,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,2019-01-01,6,9,120,850,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5668,2019-12-31,5,9,123,4150,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5669,2019-12-31,6,2,120,2900,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5670,2019-12-31,6,3,115,910,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5672,2019-12-31,6,5,122,2000,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5658,2019-12-31,3,4,119,3550,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [342]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [343]:
X = race_table_d.drop(['finish_pos'], axis=1)
y = race_table_d['finish_pos']

In [344]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.3, random_state=0)

In [345]:
model = LogisticRegression(solver='liblinear', max_iter=1000)
model.fit(X_train,y_train)

TypeError: The DType <class 'numpy.dtype[datetime64]'> could not be promoted by <class 'numpy.dtype[int64]'>. This means that no common DType exists for the given inputs. For example they cannot be stored in a single array unless the dtype is `object`. The full list of DTypes is: (<class 'numpy.dtype[datetime64]'>, <class 'numpy.dtype[int64]'>, <class 'numpy.dtype[int32]'>, <class 'numpy.dtype[int64]'>, <class 'numpy.dtype[int64]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>, <class 'numpy.dtype[uint8]'>)

In [ ]:
print(model.score(X_train,y_train), model.score(X_test,y_test))

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
pd.Series(y_pred).value_counts()

In [ ]:
y_train.value_counts()

In [ ]:
%pip install imbalanced-learn

In [ ]:
from imblearn.under_sampling import RandomUnderSampler

rank_1 = y_train.value_counts()[1]
rank_2 = y_train.value_counts()[2]
rank_3 = y_train.value_counts()[3]
# make rank_4 = rank_1

print(rank_1, rank_2, rank_3, rank_4)

rus = RandomUnderSampler(sampling_strategy={1:rank_1,2:rank_2,3:rank_3,4:rank_1}, random_state=0)

In [ ]:
X_train_rus, y_train_rus = rus.fit_resample(X_train,y_train)

In [ ]:
pd.Series(y_train_rus).value_counts()

In [ ]:
model = LogisticRegression(solver='liblinear', max_iter=1000)
model.fit(X_train_rus,y_train_rus)

print(model.score(X_train,y_train), model.score(X_test,y_test))

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
pred_df = pd.DataFrame({'pred':y_pred, 'actual':y_test})

In [ ]:
pred_df

In [ ]:
pred_df[pred_df['pred'] == 1]['actual'].value_counts()

In [ ]:
len(pred_df[pred_df['pred'] == 1])

In [ ]:
pred_df[pred_df['pred'] == 4]['actual'].value_counts()

In [ ]:
len(pred_df[pred_df['pred'] == 4])

In [ ]:
coefs=pd.Series(model.coef_[0], index=X.columns).sort_values()

In [ ]:
coefs

In [ ]:
race_table[race_table['jockey'] == 'Joey R. Martinez']['finish_pos'].value_counts()

In [ ]:
race_table[race_table['jockey'] == 'Benjamin Hernandez']['finish_pos'].value_counts()

In [ ]:
X.columns

In [ ]:
coefs[['race_number', 'program_number', 'weight_carried', 'odds', \
       'track_id_AQU', 'track_id_BEL', 'track_id_SAR',]]